.add-blog-btn {
  display: flex !important;
  justify-content: start !important;
  margin-bottom: 10px;
  @media (max-width: 868px) {
    margin: 10px auto !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

a {
  text-decoration: none;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  @media (max-width: 868px) {
    display: flex;
    flex-direction: column;
  }


  .blog-card {
    width: 380px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Outfit', sans-serif;


    img {
      width: 100%;
      height: 242px;
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .blog-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: start;
      align-items: start;
      padding: 10px;

      h5 {
        color: rgba(33, 37, 41, 0.5);
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

      }

      h2 {
        color: #212529;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;

      }

      p {
        color: rgba(33, 37, 41, 0.7);
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;

      }

      button {
        color: #00C170;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Outfit', sans-serif;
        border: none;
        outline: none;
        text-transform: capitalize;
      }
    }

  }

  .pagination-sq {
    display: flex;
    margin: 6px 0;

    button {
      font-family: "Poppins", sans-serif !important;
      font-size: 24px;
      border-radius: 2px;
      font-weight: 600;
      margin: 10px !important;
      height: 50px;
      width: 50px;

    }
  }

  .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: #F0F0F0;
    padding: 15px !important;
    border: 1px solid #FFFFFF !important;
    box-shadow: 4px 4px 5px 0 rgba(196, 192, 192, 0.75);
    color: #00C170 !important;
  }

  .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #00C170 !important;
    color: white !important;
  }
}
