.add-blog-wrapper {
  background: linear-gradient(250.16deg, #193549 -4.31%, #148B7C 79.06%);
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  width: 100%;

  .back-btn {
    padding: 10px 50px;
  }

  h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
  }

  form {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 15px auto;
    max-width: 500px;
    padding: 0 20px;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: #FFFFFF !important;
  }

  button {
    margin-top: 16px;
    align-self: flex-start;
    background: #FFFFFF !important;
    border: 1px solid #00C170 !important;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #166263;
    padding: 5px 25px !important;

    &:hover {
      color: #00C170 !important;

    }
  }

  .error-m {
    color: red !important;
  }
}