
.search-container {
  max-width: 380px;

  .search-wrapper {
    height: 53px;

    label {
      font-size: 20px !important;
      font-family: 'Outfit', sans-serif;
    }

    input {
      font-family: 'Outfit', sans-serif;
      max-width: 400px;
    }

    svg {
      font-size: 25px !important;
    }

    .css-wb57ya-MuiFormControl-root-MuiTextField-root {
      background: white !important;
      box-shadow: 10px 10px 100px 20px rgba(0, 0, 0, 0.1) !important;
      border-radius: 10px !important;
      height: 53px !important;
    }
  }

  .categories {
    max-width: 380px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 15px 10px 100px -30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    h2 {
      font-weight: 700;
      font-size: 28px;
      color: #212529;
      line-height: 37px;
      font-family: "Roboto Slab", sans-serif;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #212529;
      font-family: 'Outfit', sans-serif;
    }

    hr {
      width: 300px !important;
      margin-top: 8px;
    }
  }

  .posts{
    max-width: 380px;
    background: #FFFFFF;
    box-shadow: 15px 15px 100px -30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    h2 {
      font-weight: 700;
      font-size: 28px;
      color: #212529;
      line-height: 37px;
      font-family: "Roboto Slab", sans-serif;
    }
.post-text{
  font-family: 'Outfit', sans-serif;
  display: flex;
  gap: 20px;
  h1{
    color: #212529;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.2px;
  }
  h4{
    color: #212529;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
p{
  color: rgba(33, 37, 41, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

}
  }
}


